<!doctype html>
<html>
<head>
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0,  user-scalable=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style"
		  content="black-translucent">
	<meta charset="utf-8">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

	<!-- build:[href]:dist bower_components/bootstrap/dist/css/ -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- /build -->

	<!-- build:css(.tmp) styles/main.min.css -->
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/cnxIcons.css">
	<link rel="stylesheet" href="/styles/tile.css">
	<link rel="stylesheet" href="/styles/dashboard.css">
	<link rel="stylesheet" href="/styles/people.css">
	<!-- endbuild -->
	<title>CNX Student {{title}}</title>
</head>

<body class="cnx">
<a href="#mainContent" class="skipToMain">Skip To Main Content</a>

{{> body }}

<!-- build:[src]:dist bower_components/jquery/dist/ -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- /build -->

<!-- build:[src]:dist bower_components/bootstrap/dist/js/ -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- /build -->

<!-- build:js scripts/main.min.js -->
<script src="scripts/main.js"></script>
{{#addScript}}
	<script src="{{{this}}}"></script>
{{/addScript}}
<!-- endbuild -->

<!-- <script src="http://192.168.1.10:8082/target/target-script-min.js"></script> -->
<!-- build:remove:dist -->
<script src="/bower_components/html-inspector/html-inspector.js"></script>
<script>
	HTMLInspector.inspect();
</script>
<!-- /build -->
</body>
</html>