@font-face {
	font-family: 'Campus Mobile Recruiter';
	src: url('../fonts/CampusNexusIcons.eot');
	src: url('../fonts/CampusNexusIcons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CampusNexusIcons.woff') format('woff'),
	url('../fonts/CampusNexusIcons.ttf') format('truetype');

}

.cnxIcon-before (@size: 42px) {
	font: @size 'Campus Mobile Recruiter';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-style: normal;
	speak: none;
	position: absolute;
	text-indent: 0;
	text-align: center;
	width: @size;
	height: @size;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	line-height: @size;

}

.cnxIcon (@size: 42px){
	display: block;
	width: @size;
	height: @size;
	text-indent: @size+1;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	white-space: nowrap;
	&:before {
		.cnxIcon-before(@size);
	}
}

[class*="cnxIcon-"] {
	.cnxIcon();
}

.make-cnxIcon(@size) {
	width: @size;
	height: @size;
	text-indent: @size+1;
	&:before {
		width: @size;
		height: @size;
		font-size: @size;
		text-indent: 0;
		line-height: @size;
		//line-height: 1em;
	}
}

.cnxIcon-peopleFolder {
	&:before {
		content: "\e002";
	}
}

.cnxIcon-interaction {
	&:before {
		content: "\e003";
	}
}

.cnxIcon-announcement {
	&:before {
		content: "\e004";
	}
}

.cnxIcon-cog {
	&:before {
		content: "\e005";
	}
}

.cnxIcon-dashboard {
	&:before {
		content: "\e006";
	}
}

.cnxIcon-padlock {
	&:before {
		content: "\e007";
	}
}

.cnxIcon-parthenon {
	&:before {
		content: "\e008";
	}
}

.cnxIcon-kiosk {
	&:before {
		content: "\e009";
	}
}

.cnxIcon-map {
	&:before {
		content: "\e010";
	}
}

.cnxIcon-arrow-left {
	&:before {
		content: "\e011";
	}
}

.cnxIcon-hamburger {
	&:before {
		content: "\e012";
	}
}

.cnxIcon-hamburger-dark {
	&:before {
		content: "\e013";
	}
}

.cnxIcon-filter {
	&:before {
		content: "\e014";
	}
}

.cnxIcon-flag {
	&:before {
		content: "\e015";
	}
}

.cnxIcon-sms {
	&:before {
		content: "\e016";
	}
}

.cnxIcon-chat {
	&:before {
		content: "\e017";
	}
}

.cnxIcon-phone {
	&:before {
		content: "\e018";
	}
}

.cnxIcon-pencil {
	&:before {
		content: "\e019";
	}
}

.cnxIcon-save {
	&:before {
		content: "\e020";
	}
}

.cnxIcon-checkmark {
	&:before {
		content: "\e021";
	}
}

.cnxIcon-graduation {
	&:before {
		content: "\e022";
	}
}

.cnxIcon-chevron-right {
	&:before {
		content: "\e023";
	}
}

.cnxIcon-mail {
	&:before {
		content: "\e024";
	}
}

.cnxIcon-search {
	&:before {
		content: "\e025";
	}
}

.cnxIcon-plus {
	&:before {
		content: "\e026";
	}
}

.cnxIcon-minus {
	&:before {
		content: "\e027";
	}
}

.cnxIcon-x {
	&:before {
		content: "\e028";
	}
}

.cnxIcon-envelope {
	&:before {
		content: "\e029";
	}
}

.cnxIcon-trash {
	&:before {
		content: "\e030";
	}
}

.cnxIcon-triangle-right {
	&:before {
		content: "\e031";
	}
}

.cnxIcon-triangle-left {
	&:before {
		content: "\e032";
	}
}

.cnxIcon-triangle-down {
	&:before {
		content: "\e033";
	}
}

.cnxIcon-person {
	&:before {
		content: "\e034";
	}
}

.cnxIcon-book {
	&:before {
		content: "\e035";
	}
}

.cnxIcon-chat-bubble {
	&:before {
		content: "\e036";
	}
}

.cnxIcon-rounded-arrow-left {
	&:before {
		content: "\e037";
	}
}

.cnxIcon-phone-active {
	&:before {
		content: "\e038";
	}
}

.cnxIcon-printer {
	&:before {
		content: "\e039";
	}
}

.cnxIcon-envelope-open {
	&:before {
		content: "\e040";
	}
}

.cnxIcon-calendar {
	&:before {
		content: "\e041";
	}
}

.cnxIcon-rounded-arrow-right {
	&:before {
		content: "\e042";
	}
}

.cnxIcon-chat-multi {
	&:before {
		content: "\e043";
	}
}

.cnxIcon-question {
	&:before {
		content: "\e044";
	}
}

.cnxIcon-pinned-note {
	&:before {
		content: "\e045";
	}
}

.cnxIcon-send {
	&:before {
		content: "\e046";
	}
}

.cnxIcon-reverse-time {
	&:before {
		content: "\e047";
	}
}

.cnxIcon-person-male {
	&:before {
		content: "\e048";
	}
}

.cnxIcon-person-female {
	&:before {
		content: "\e049";
	}
}

.cnxIcon-star {
	&:before {
		content: "\e050";
	}
}

.cnxIcon-money-bag {
	&:before {
		content: "\e051";
	}
}

.cnxIcon-credit-card-terminal {
	&:before {
		content: "\e052";
	}
}

.cnxIcon-credit-card {
	&:before {
		content: "\e053";
	}
}

.cnxIcon-filter-plus {
	&:before {
		content: "\e054";
	}
}

