@import (reference) '../../bower_components/bootstrap/less/variables.less';
@import (reference) '../../bower_components/bootstrap/less/mixins';
@import (reference) '../../bower_components/bootstrap/less/grid';
@import (reference) '../../bower_components/bootstrap/less/glyphicons';
@import (reference) 'variables';
@import (reference) 'cnxIcons';
@import (reference) 'tile';

.cnx {
	main.dashboard {
		margin-top: 20px;
		header {
			margin: 0 0 20px 0;
			min-height: 45px;
			.make-row();
			.clearfix();
			h1 {
				.make-xs-column(12, 0);
				.make-sm-column(8, 0);
				height: 43px;
				display: inline-block;
				background: transparent url('../images/campusNexusLogo_rgb.svg') -3px -3px no-repeat;
				overflow: hidden;
				margin: 0;
				padding: 0 0 0 15px;
				background-size: contain;
				background-origin: content-box;
				.text-hide();
			}

		}
	}
	section.dashboard{
		background-color: transparent;
		border: none;
	}
	.dashboard {

		.user-info {
			.make-xs-column(12);
			.make-sm-column(4);
			padding-right: 20px;
		}

		nav {
			clear: both;
			margin-top: 20px;
			h1 {
				font: normal normal 300 18px/20px @font;
				margin: 10px 0 10px 5px;
				white-space: nowrap;
				color: #333;
				letter-spacing: normal;
				display: block;
				float: none;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			> ul {
				> li {
					li {
						.cnx-tile();
						&.tile-admissions a {
							.cnxIcon-graduation();
						}

						&.tile-settings a {
							.cnxIcon-cog();
						}
						&.tile-fa a {
							.cnxIcon-money-bag();
						}
						&.tile-portal a {
							.glyphicon-link();
							&:before {
								font-family: 'Glyphicons Halflings';
							}
						}
						&.tile-help a {
							.cnxIcon-question();
						}
						&.tile-recruiter a {
							.cnxIcon-person-male();
						}
						&.tile-email a {
							.cnxIcon-envelope();
						}
						&.tile-tasks a {
							.cnxIcon-pinned-note();
						}
						&.tile-calendar a {
							.glyphicon-calendar();
							&:before {
								font-family: 'Glyphicons Halflings';
							}
						}
						&.tile-filter-plus a {
							.cnxIcon-filter-plus();
						}
					}
				}
			}

			.cnx-student-nav {
				.make-xs-column(12, 0);
				.make-sm-column(8, 0);
				.make-md-column(6, 0);
				@media (min-width: @screen-sm-min) {
					padding-right: 14px;
				}
				@media (min-width: @screen-md-min) {
					padding-right: 24px;
				}
				@media (min-width: @screen-lg-min) {
					padding-right: 60px;
				}
				li:nth-child(1), li:nth-child(2) {
					.tile-half-width();
					.tile-double-height();
				}
				li:nth-child(3) {
					.tile-half-width();
				}
				li:nth-child(4), li:nth-child(5) {
					.tile-quarter-width();
				}
			}

			.cnx-crm-nav {
				.make-xs-column(12, 0);
				.make-sm-column(4, 0);
				.make-md-column(3, 0);
				@media (min-width: @screen-sm-min) {
					padding-left: 6px;
					padding-right: 0px
				}
				@media (min-width: @screen-md-min) {
					padding-left: 0;
					padding-right: 12px;
				}
				@media (min-width: @screen-lg-min) {
					padding-left: 0;
					padding-right: 30px;
				}
				li > a {
					background-color: #16499a;
				}

				li:nth-child(1) {
					.tile-double-height();
					> a {
						background-color: #1b6eae;
						border-color: #16499a;
					}
				}
				li:nth-child(2), li:nth-child(3) {
					.make-xs-column(6, 10px);
				}

			}

			.cnx-admin-nav {
				.make-xs-column(12, 0);
				.make-sm-column(4, 0);
				.make-md-column(3, 0);
				a {
					color: #333333;
					.tile-badge {
						background: transparent;
					}
				}
				@media (min-width: @screen-sm-min) {
					padding-left: 0;
					padding-right: 7px;
				}
				@media (min-width: @screen-md-min) {
					padding-left: 12px;
					padding-right: 0
				}
				@media (min-width: @screen-lg-min) {
					padding-left: 30px;
					padding-right: 0
				}
				li > a {
					background-color: #d3d3d3;
				}
			}

		}
	}

}