@import (reference) '../../bower_components/lesshat/build/lesshat-prefixed.less';
@import (reference) '../../bower_components/bootstrap/less/variables.less';
@import (reference) '../../bower_components/bootstrap/less/mixins';
@import (reference) '../../bower_components/bootstrap/less/grid';
@import (reference) '../../bower_components/bootstrap/less/glyphicons';
@import (reference) 'variables';
@import (reference) 'cnxIcons';

input, select {
	padding: 5px;
	margin: 0 10px 0 0;
	line-height: normal;
	font: normal normal 300 14px/18px 'Open Sans', sans-serif;
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
	box-shadow: none;
	color: #232323;
	background: #FFF;
}

input {
	-webkit-appearance: none;
}

select {
	height: 31px;
}

input[type='text'], input[type='password'], input[type='datetime'],
input[type='datetime-local'], input[type='date'], input[type='time'], textarea, select {
	width: 100%;
	border: 1px solid #D4D4D4;
	background-color: #FFF;
	border-radius: 0;
}

input[type='checkbox'], input[type='radio'] {
	margin: 0 5px 0 0;
}

a.skipToMain {
	position: absolute;
	top: -40px;
	left: 0;
	padding: 6px;
	color: #FFF;
	background: transparent;
	border-radius: 0 0 8px 0;
	z-index: 1500;
	&:focus {
		position: absolute;
		left: 0px;
		top: 0px;
		background: #BF1722;
		transition: top .1s ease-in, background .5s linear;
	}
}

#mainContent:focus {
	outline: none;
}

.response-12-6 {
	.make-xs-column(12, 0);
	.make-md-column(6, 0);
	padding-right: 30px;
}

.response-6-3 {
	.make-xs-column(6, 0);
	.make-md-column(3, 0);
	padding-right: 30px;
}

.panelBtn {
	.cnxIcon(24px);
	margin-left: 10px;
	line-height: 24px;
	border: none;
	background: transparent;
	&:before {
		font-size: 12px;
	}
	&:after {
		content: ' ';
		width: 24px;
		height: 24px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		border: 2px solid #b3b3b3;
		border-radius: 50%;
	}
}

.editBtn {
	.panelBtn();
	.cnxIcon-pencil();
}

.toggleBtn {
	.panelBtn();
	.cnxIcon-triangle-left();
	box-sizing: border-box;
	transition: all 0.5s ease-out;
	-webkit-appearance: none;
	&:before {
		left: -1px;
	}
	&.open {
		transform: rotate(-90deg);
		transform-origin: 12px 12px;
	}
}

.saveBtn {
	.panelBtn();
	.cnxIcon-save();
}

.cancelBtn {
	.panelBtn();
	.cnxIcon-x();
}

.cnx {
	background-color: #f4f4f4;

	main {
		.container();
		@media (min-width: @screen-sm-min) {
			margin-top: 60px;
		}
	}
	.cnxPanel {
		background-color: #F8F8F8;
		border: 1px solid #e3e3e3;
		color: #A5A5A5;
		.make-xs-column(12, 0);
		.make-md-column(9, 0);
		margin-bottom: 30px;
		@media (min-width: @screen-lg-min) {
			margin-bottom: 60px;
		}
		header {
			background-color: #FFF;
			a {
				color: #b3b3b3;
				border-color: #b3b3b3;
			}

		}
		header, .footer {
			padding: 20px 15px;
			.clearfix();
			ul {
				float: right;
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					float: left;
					display: block;
					a {
						display: block;
					}
				}
			}
		}
		h1 {
			font: normal normal 300 25px/25px @font;
			letter-spacing: 0.25px;
			margin: 0;
			display: inline-block;
			float: left;
			color: #4F4F4F;
			small {
				color: #B7B7B7;
				font-size: 18px;
				display: inline-block;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		fieldset {
			margin: 15px -15px 0 15px;
			> ul > li {
				.response-12-6();
				margin-bottom: 5px;
			}
		}
		.footer {
			background-color: #000;
			width: auto;
			float: none;
			clear: both;
			padding: 20px;
			margin: 15px 15px 0 -15px;
			a {
				color: #FFF;
				text-indent: 32px;
				overflow: visible;
				width: auto;
				margin-left: 15px;
				&:after {
					border-color: #FFF;
				}
			}
		}
		label {
			font: normal normal 300 12px/14px @font;
			white-space: nowrap;
			&:after {
				content: ':';
			}
		}
	}

	h1 {
		font: normal normal 300 54px/54px @font;
		margin: 20px 0 25px;
		small {
			color: #B7B7B7;
			font-size: 26px;
			font-weight: 300;
			display: block;
			@media (min-width: @screen-sm-min) {
				display: inline-block;
			}
		}

	}

	.user-info {
		font: normal normal 300 27px/26px @font;
		text-align: right;
		.user-info_image {
			float: right;
			position: relative;
			width: 40px;
			height: 40px;
			background-color: #d3d3d3;
			margin-left: 5px;
			img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
			.cnxIcon(40px);
			.cnxIcon-person();
			&:before {
				font-size: 30px;
				color: #FFF;
			}

			&.user-info_image_female {
				.cnxIcon-person-female();
			}
			&.user-info_image--male {
				.cnxIcon-person-male();
			}
		}
		.user-info_first-name {
			font-size: 27px;
			line-height: 26px;
		}

		.user-info_last-name {
			font-size: 16px;
			line-height: 16px;
		}
	}

	a.toggle-nav {
		.cnxIcon(45px);
		.cnxIcon-hamburger();
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		&:before {
			font-size: 20px;
		}
		@media (min-width: @screen-sm-min) {
			display: none;
		}
	}

	.navContainer {
		background-color: #1f67a6;
		position: relative;
		top: 0;
		left: 0;
		right: 0;

		@media (min-width: @screen-sm-min) {
			position: fixed;
			z-index: 1000;
			transition: all 0.5s ease-out;
			&.active {
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
			}

			&.is-dropping {
				transform: translate(0, -50px);
				transition: all 0s;
			}
		}
	}
	.mainNav {
		.container();
		overflow: hidden;
		line-height: 45px;
		color: #FFF;
		font: normal normal 300 16px/16px @font;
		-webkit-font-smoothing: subpixel-antialiased;
		position: relative;

		@media (min-width: @screen-sm-min) {
			overflow: visible;
			max-height: auto;
			height: 45px;
		}
		.homeBtn {
			background: transparent url('../images/nexusHeaderIcon_v1.png') left 12px no-repeat;
			height: 45px;
			width: 165px;
			display: block;
			.hide-text();
			line-height: 45px;
			float: left;
			margin-right: 15px;
		}
		a[href='settings.html'] {
			.cnxIcon(45px);
			.cnxIcon-cog();
			&:before {
				font-size: 16px;
				width: 32px;
			}
			width: auto;
			text-indent: 20px;
			@media (min-width: @screen-sm-min) {
				width: 45px;
				text-indent: 46px;
				&:before {
					width: 45px;
				}
			}
		}
		a[href='logout.html'] {
			.cnxIcon(45px);
			.cnxIcon-padlock();
			&:before {
				font-size: 16px;
				width: 32px;
			}
			width: auto;
			text-indent: 20px;
			@media (min-width: @screen-sm-min) {
				width: 45px;
				text-indent: 46px;
				&:before {
					width: 45px;
				}
			}
		}
		.dropdown-toggle {
			&:after {
				.cnxIcon-before(8px);
				position: relative;
				top: -1px;
				display: inline-block;
				margin: 0 0 0 10px;
				vertical-align: middle;
				line-height: 8px;
				content: "\e023";
				transform: rotate(90deg);
			}
		}
		> ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			clear: both;
			display: none;

			> li {
				display: block;

				a {
					color: #fff;
					line-height: 45px;
					text-decoration: none;
					box-shadow: none;
					display: block;
					margin-left: -10px;
					margin-right: -10px;
					padding-left: 10px;

					&:hover, &:focus {
						background-color: #004584;
					}
					&:focus {
						outline: -webkit-focus-ring-color auto 5px;
					}

				}
			}
			@media (min-width: @screen-sm-min) {
				clear: none;
				float: left;
				display: block;
				> li {
					float: left;
					border-left: 1px #2a87b3 solid;
					font-size: 14px;
					a {
						padding: 0 15px;
						margin: 0;
						&[href='account.html'] {
							position: absolute;
							right: 0;
							border: none;
						}
					}
				}
			}
		}
		.dropdown-menu {
			background-color: #1f67a6;
			margin: 0;
			padding: 0;
			border: none;
			border-radius: 0;
			a {
				padding: 10px;
				margin-left: -10px;
				font-weight: 300;
				line-height: 16px;
				font-size: 16px;
				&:hover, &:focus {
					background-color: #004584;
				}
			}
			position: relative;
			float: none;
			box-shadow: none;
			@media (min-width: @screen-sm-min) {
				position: absolute;
				float: left;
				padding: 0;
				border-left: 1px #2a87b3 solid;
				box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
				a {
					margin-left: 0;
					font-size: 14px;
					line-height: 14px;
				}
			}
		}
	}
	.mainNav-mainMenuList {
		a {
			&:before {
				.cnxIcon-before(16px);
				top: 1px;
				position: relative;
				margin-right: 5px;
				@media (min-width: @screen-sm-min) {
					width: 14px;
					height: 14px;
					font-size: 14px;
				}
			}

		}
		a[href='AdmissionsSummary_v1.html'] {
			.cnxIcon-dashboard();
		}
		a[href='AdmissionsPeople_v5.html'] {
			.cnxIcon-peopleFolder();
		}
		a[href='Interactions.html'] {
			.cnxIcon-interaction();
		}
		a[href='Follow'] {
			.cnxIcon-star();
		}
		a[href='Recent'] {
			.cnxIcon-reverse-time();
		}
		a[href='Events'] {
			.cnxIcon-announcement();
		}
		a[href='Schedule'] {
			.cnxIcon-pinned-note();
		}

	}

}
