@import (reference) 'main';

.cnx {
	.people {

		.general_gpa, .general_admissionsRep, .general_vendorOrg, .general_educationLevel {
			.response-6-3();
		}
		.general_admissionsRep {
			margin-bottom: 15px;
		}

		.relatedLinks{
			.make-md-column(3, 0);
			@media (min-width: @screen-md-min) {
				padding-left: 15px;
			}
			@media (min-width: @screen-lg-min) {
				padding-left: 30px;
			}
			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
			li{
				padding: 0;
			}
			a {
				color: #FFF;
				background-color: #2e92cf;
				border-bottom: 30px solid #000;
				.tile-badge{
					background-color: #000;
				}
				&:before {
					top: 30px;
					font-size: 42px;
					@media (min-width: @screen-sm-min) {
						top: 20px;
						font-size: 40px;
					}
					@media (min-width: @screen-md-min) {
						top: 18px;
						font-size: 40px;
					}
					@media (min-width: @screen-lg-min) {
						top: 22px;
						font-size: 42px;
					}
				}
				&.checklist{
					.cnxIcon-checkmark();
				}
				&.interaction{
					.cnxIcon-interaction();
				}
				&.timeline{
					.cnxIcon-calendar();
				}
			}
		}
	}
}