@import (reference) '../../bower_components/bootstrap/less/variables.less';
@import (reference) '../../bower_components/bootstrap/less/mixins';
@import (reference) '../../bower_components/bootstrap/less/grid';
@import (reference) '../../bower_components/bootstrap/less/glyphicons';
@import (reference) 'variables';
@import (reference) 'cnxIcons';


.cnx-tile {
	margin-bottom: 10px;
	height: @panelHeightSingle-screenXS;
	.make-xs-column(12, 10px);
	@media (min-width: @screen-sm-min) {
		height: @panelHeightSingle-screenSM;
	}
	@media (min-width: @screen-md-min) {
		height: @panelHeightSingle-screenMD;
	}
	@media (min-width: @screen-lg-min) {
		height: @panelHeightSingle-screenLG;
	}
	a {
		display: block;
		height: 100%;
		background-color: #128023;
		color: #FFF;
		font: normal 13px/13px 'Open Sans', Arial, Helvetica, sans-serif, tahoma;
		cursor: pointer;

		.cnxIcon-graduation();
		&:before {
			.cnxIcon-before();
			color: #FFF;
			width: 100%;
			top: 29.5px;
			font-size: 59px;
			line-height: 1em;
			@media (min-width: @screen-sm-min) {
				top: 27.5px;
				font-size: 55px;
			}
			@media (min-width: @screen-md-min) {
				top: 22px;
				font-size: 51px;
			}
			@media (min-width: @screen-lg-min) {
				top: 29.5px;
				font-size: 59px;
			}
		}
		&:hover {
			text-decoration: none;
			outline: 3px solid #999999;
		}
		.tile-title {
			position: absolute;
			bottom: 8px;
			left: 15px;
		}
		.tile-badge {
			position: absolute;
			bottom: 0;
			right: 15px;
			background: red;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
		}
	}
}

.tile-half-width {
	.make-xs-column(12, 0);
	.make-sm-column(6, 10px);
}

.tile-quarter-width {
	.make-xs-column(6, 0);
	.make-sm-column(3, 10px);
}

.tile-double-height {
	a {
		background-color: #60a917;
		border-bottom: 30px solid #128023;
		&:before {
			top: 57px;
			font-size: 100px;
			@media (min-width: @screen-sm-min) {
				top: 44.5px;
				font-size: 89px;
			}
			@media (min-width: @screen-lg-min) {
				top: 53.75px;
				font-size: 107px;
			}
		}

	}
	height: @panelHeightDouble-screenLG;
	@media (min-width: @screen-sm-min) {
		height: @panelHeightDouble-screenSM;
	}
	@media (min-width: @screen-md-min) {
		height: @panelHeightDouble-screenMD;
	}
	@media (min-width: @screen-lg-min) {
		height: @panelHeightDouble-screenLG;
	}
}