---
title: '- Dashboard'
addScript: []
---
<main id="mainContent" class="dashboard" tabindex="0">
	<header role="banner">
		<h1>CampusNexus&trade;</h1>

		<div class="user-info">
			<div class="user-info_image user-info_image_female">
				<!-- <img src="images/Battlefield_4_Icon.png"
											  alt="Sally Admissions"/>-->
			</div>
			<div class="user-info_first-name">Sally</div>
			<div class="user-info_last-name">Admissions</div>
		</div>
	</header>
	<section class="dashboard">

		<nav role="navigation ">
			<ul>
				<li class="cnx-student-nav">
					<h1>CampusNexus Student</h1>
					<ul>
						<li class="tile-admissions"><a href="peopleSummary.html"><span
								class="tile-title">Admissions</span><span
								class="tile-badge">22</span></a></li>
						<li class="tile-fa"><a href="#"><span class="tile-title">Financial Aid</span><span
								class="tile-badge">22</span></a></li>
						<li class="tile-portal"><a href="#"><span class="tile-title">Portal</span></a></li>
						<li class="tile-settings"><a href="#"><span class="tile-title">Settings</span></a></li>
						<li class="tile-help"><a href="#"><span class="tile-title">Help</span></a></li>
					</ul>
				</li>
				<li class="cnx-crm-nav">
					<h1>CampusNexus CRM</h1>
					<ul>
						<li class="tile-recruiter"><a href="#"><span class="tile-title">Recruiter</span><span
								class="tile-badge"
								aria-label="22 new items">22</span></a>
						</li>
						<li class="tile-settings"><a href="#"><span class="tile-title">Settings</span></a></li>
						<li class="tile-help"><a href="#"><span class="tile-title">Help</span></a></li>
					</ul>
				</li>
				<li class="cnx-admin-nav">
					<h1>Admin</h1>
					<ul>
						<li class="tile-email"><a href="#"><span class="tile-title">My Email</span><span
								class="tile-badge">11</span></a></li>
						<li class="tile-tasks"><a href="#"><span class="tile-title">My Tasks</span><span
								class="tile-badge">11</span></a></li>
						<li class="tile-calendar"><a href="#"><span class="tile-title">My Calendar</span><span
								class="tile-badge">11</span></a></li>
					</ul>
				</li>

			</ul>

		</nav>

	</section>
</main>