---
title: '- People Summary'
addScript: []
---
<header>
	{{> mainMenu}}
</header>
<main id="mainContent" class="people" tabindex="0">

	<h1>James Kevin
		<small>Prospect Profile</small>
	</h1>

	<section class="cnxPanel general">
		<header>
			<h1>General
				<small>Details</small>
			</h1>
			<ul>
				<li><a href="#" class="editBtn" role="button">Edit</a></li>
				<li>
					<button data-toggle="collapse" data-target="section.general .collapseContent" class="toggleBtn open">
						show section
					</button>
				</li>

			</ul>
		</header>
		<fieldset class="collapseContent in" aria-hidden="false">
			<ul>
				<li>
					<label for="general_rating">Rating</label>
					<select id="general_rating">
						<option>1 star</option>
						<option>2 star</option>
						<option>3 star</option>
					</select>
				</li>
				<li>
					<label for="general_leadSource">Lead Source</label>
					<input type="text" id="general_leadSource"/>
				</li>
				<li>
					<label for="general_interest">Interest</label>
					<input type="text" id="general_interest"/>
				</li>
				<li>
					<label for="general_leadType">Lead Type</label>
					<input type="text" id="general_leadType"/>
				</li>
				<li class="general_educationLevel">
					<label for="general_educationLevel">Education Level</label>
					<input type="text" id="general_educationLevel"/>
				</li>
				<li class="general_vendorOrg">
					<label for="general_vendorOrg">Vendor Organization</label>
					<input type="text" id="general_vendorOrg"/>
				</li>
				<li class="general_gpa">
					<label for="general_gpa">GPA</label>
					<input type="text" id="general_gpa"/>
				</li>
				<li class="general_admissionsRep">
					<label for="general_admissionsRep">Admissions Rep</label>
					<input type="text" id="general_admissionsRep"/>
				</li>
				<li class="footer">
					<ul>
						<li><a href="#" class="saveBtn" role="button">Save</a></li>
						<li><a href="#" class="cancelBtn" role="button">Cancel</a></li>
					</ul>
				</li>
			</ul>
		</fieldset>
	</section>

	<section class="cnxPanel events">
		<header>
			<h1>Events
			</h1>
			<ul>
				<li><a href="#" class="editBtn" role="button">Edit</a></li>
				<li>
					<button data-toggle="collapse" data-target="section.events .collapseContent" class="toggleBtn">
						show section
					</button>
				</li>

			</ul>
		</header>
		<fieldset class="collapseContent collapse" aria-hidden="true">
			<ul>
				<li>
					<label for="general_rating">Rating</label>
					<select id="general_rating">
						<option>1 star</option>
					</select>
				</li>
				<li class="footer">
					<ul>
						<li><a href="#" class="saveBtn" role="button">Save</a></li>
						<li><a href="#" class="cancelBtn" role="button">Cancel</a></li>
					</ul>
				</li>
			</ul>
		</fieldset>
	</section>
	<div class="relatedLinks">
		<ul>
			<li class="cnx-tile">
				<a href="#" class="checklist"><span
					class="tile-title">Checklist</span><span
					class="tile-badge">22</span></a>
				</li>
			<li class="cnx-tile">
				<a href="#" class="interaction"><span
					class="tile-title">Interactions</span><span
					class="tile-badge">11</span></a>
			</li>
			<li class="cnx-tile">
				<a href="#" class="timeline"><span
						class="tile-title">Timeline</span></a>
			</li>
		</ul>
	</div>
</main>
