<div class="navContainer">
	<nav class="mainNav" aria-labelledby="MainNavLabel" role="navigation">
		<h1 id="MainNavLabel" class="sr-only">Main Navigation</h1>
		<a href="/" class="homeBtn">Home</a>
		<a href="#" class="toggle-nav">toggle</a>
		<ul role="menubar">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" href="#"
				   id="mainNav-mainMenuLink">Main Menu</a>
				<ul class="dropdown-menu mainNav-mainMenuList" data-role="dropdown"
					aria-labelledby="mainNav-mainMenuLink" role="menu" aria-hidden="true">
					<li><a href="AdmissionsSummary_v1.html">My Dashboard</a></li>
					<li><a href="AdmissionsPeople_v5.html">People</a></li>
					<li><a href="Interactions.html">Interactions</a></li>
					<li><a href="Follow">Follow</a></li>
					<li><a href="Recent">Recent</a></li>
					<li><a href="Events">Events</a></li>
					<li><a href="Schedule">Schedule</a></li>
				</ul>
			</li>
			<li><a href="settings.html">Settings</a></li>
			<li><a href="logout.html">Logout</a></li>
			<li><a href="account.html">Sally Admissions</a></li>
		</ul>
	</nav>
</div>